

    <div class ="content">
    <h3> ENREGISTREMENT</h3> <br><br>
      <form  [formGroup]="personneForm" (ngSubmit)="onsubmit()">
        <label for="tel"> Votre nom utilisateur </label>
        <br><br>
        <input type="text" formControlName="name" name="name"  > <br><br>
        <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
           <div *ngIf=" name?.errors?.require"> ce champ est obligatoire></div>

        </div>
        <label for="pass">Votre numero de telephone </label>
        <br><br>
        <input type="text" formControlName="tel" name="tel" ><br><br>
        <label for="pass">Votre password </label>
        <br><br>
        <input type="password" formControlName="pass" name="pass"><br><br>

      <button class="bouton" type='submit' [disabled]="personneForm.invalid">S'inscrire</button>

      </form>


    </div>
<footer> Fait par Tchamba borel made in COSNA</footer>
