div.content{

  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 30px;
  height: 400px;
  margin-top: 75px;
  background:  #fff;
  padding-left: 20px;
  text-align: center;
  padding-top: 150px;
  border-radius: 30px;

}

body{
  background-color: rgb(233, 234, 237);

}
.bouton{
  margin-right: 20px;
  background-color:orange;
  width: 90px;
}
.bouton2{
  background-color: green;

  width: 90px;
}
input{
  width: 75%;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #ccc;;
}
footer{
  text-align: center;

}
h3{
  margin-top: -100px;
}
button{
  border-radius: 15px;
  height: 50px;
  color: white;
  border: 0px;
}
