  <h3> Formulaire dinscription<h3>

<form [formGroup]="formulaire" (ngSubmit)="onsubmit()"  >

   <label for="id"> Id</label>
   <input type="text" formControlName="id" name="id" [value]="tab.id"  >

   <label for="nom">Nom</label>
   <input type="text"formControlName="nom" name="nom" [value]="tab.nom" >

   <label for="email">Email</label>
   <input type="text" formControlName="email" name="email" [value]="tab.email">

   <label for="nomber">Phone</label>
   <input type="text" formControlName="phone" name="phone"  [value]="tab.phone" >

   <button type="submit [disabled]="formulaire.invalid >Save</button>
   
 </form>
