
<h3>Liste des employes </h3>
<table border>
  <thead>
     <tr>
       <td> Id</td>
       <td> Nom</td>
       <td> Email</td>
       <td> Telephone</td>
     </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employee">
       <td> {{ employee.id }}</td>
       <td> {{ employee.nom }}</td>
       <td> {{ employee.email }}</td>
       <td> {{ employee.phone }}</td>
       <td><a [routerLink]="['/modifier',employee.id]"> modifier</a></td>
      <td><button type="submit" (click)='onclick(employee.id)' > supprimer</button></td>

     </tr>


  </tbody>
</table>
<button ><a routerLink="/edit"> ajouter </a></button>
