.container-flex {
    display: flex;
    flex-direction: row;
    height: 550px;
}

.sidebar {
    border: 1px solid black;
    float: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(14, 8, 8);
    color: white;
    border: none;
}

.b {
    display: flex;
    flex-direction: column;
}

.sidebar .b .sous {
    display: none;
    color: red;
}

.view {
    display: block;
}

.menu {
    border: 1px solid black;
    flex: 2;
    border: none;
}

.nav {
    border: 1px solid black;
    height: 100px;
    display: flex;
    flex-direction: row;
    border: none;
    background-color: white;
    align-items: center;
}

footer {
    border: 1px solid black;
    height: 100px;
    text-align: center;
    padding-top: 30px;
    background-color: navajowhite;
    border: none;
}

.card {
    display: flex;
    flex-direction: row;
}

.card .card-1 {
    border: 1px solid black;
    padding: 50px;
    flex: 1;
    margin: 10px;
    background-color: rgb(106, 223, 106);
    text-decoration: solid;
    border: none;
}

.sidebar a,
.sidebar button {
    text-decoration: none;
    padding: 10px;
    color: white;
}

.sidebar a:hover {
    background-color: orange;
}

button {
    border: none;
    background: transparent;
}

.sidebar button:hover {
    background-color: orange;
}

.sidebar h3 {
    background-color: rgb(64, 64, 223);
    margin-top: 0px;
    height: 50px;
    text-align: center;
}

.photo {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding-left: 10px;
    margin-top: 20px;
}

.nav p {
    padding-left: 20px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 40px;
    background-color: darkkhaki;
    margin-top: 20px;
}

div .nav-search {
    margin-left: 400px;
    margin-top: 20px;
}

.card-1 {
    display: flex;
    flex-direction: row;
}

.card-1 .card-2 {
    border: 1px solid black;
    height: 150px;
    flex: 1;
    margin: 10px;
    border: none;
    background-color: white;
}

.card-1 .card-2 div {
    border: 1px solid black;
    height: 10px;
    padding: 10px;
    border: none;
}

.card-1 .card-2 .card-color-1 {
    background-color: yellow;
}

.card-1 .card-2 .card-color-2 {
    background-color: green;
}

.card-1 .card-2 .card-color-3 {
    background-color: rgb(50, 50, 221);
}
