<div class="t">
  <div class="container-flex">
    <div class="sidebar">
      <h3>Administrateur</h3>

      <div class="b">
        <button id="view" id='btn'>
          <i class="fas fa-user"></i>
          Gestion utilisateur
        </button>
        <div class="sous">
          <a href="#">liste des clients</a>
          <a href="#">liste des clients</a>
        </div>
      </div>
      <a href="#"> Gestion client</a>
      <a href="#"> Gestion </a>
      <a href="#"> Utilisateur</a>
    </div>
    <div class="menu">
      <div class="nav">
        <div class="nav-search">
          <label for="search">Recherche</label>
          <input type="texte" name="search" value="Search" />
          <button type="submit" value="Search">search</button>
        </div>
        <div>
          <p>connexion</p>
        </div>
        <div class="photo"></div>
      </div>

      <div class="content">
        <h1>bienvenue</h1>
        <div class="card">
          <div class="card-1">Nombre de Clients: 200</div>
          <div class="card-1">Nombre d'articles:500</div>
          <div class="card-1">Personne Connecte: 4000</div>
          <div class="card-1">Nombre de visiteur: 10000</div>
        </div>
        <div class="card-1">
          <div class="card-2">
            <div class="card-color-1">Nombre de Clients: 200</div>
          </div>
          <div class="card-2">
            <div class="card-color-2">Nombre de Clients: 200</div>
          </div>
          <div class="card-2">
            <div class="card-color-3">Nombre de Clients: 200</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">Tous droit est reserve</footer>
</div>

<script>
 document.querySelector('button').addEventListener('click', view());

  function view() {
    alert('ddddd');
    document.querySelector('sous').classList.toggle('view');

}

</script>
