
<h1>Login dinscription</h1>

<div class="stand">
  <div class="outer-screen">
    <div class="inner-screen">
      <div class="form">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
            <input type=text    name="nom"      ngModel required    #nom="ngModel"    class="zocial-dribbble" />
            <div [hidden]="nom.valid "> obligatoire</div>
            <input type="text"  name='pseudo'   ngModel  required  placeholder="Entrez votre Pseudo" />
            <input type="text"  name='email'    ngModel  required  class="zocial-dribbble" placeholder="Entrez votre E-mail" />
            <input type="text"  name='password' ngModel required placeholder="Entrez votre Password" />
            <input type="submit"  value="Login" [disabled] ="f. invalid"  />
            <a href="">Lost your password?</a>
         </form>

      </div>
    </div>
  </div>
</div>
