<div>
   <div class="menu1">
      <label for="recher">Rechercher</label>
      <input type="text" name="recherche">
   </div>

   <div >
     <ul class="menu2">
        <li RouterLink=""> Accueil</li>
        <li RouterLink=""> Cuisine</li>
        <li RouterLink=""> Gateaux</li>
        <li RouterLink=""> Reservation</li>
        <li RouterLink=""> Contact</li>
      </ul>
   </div>
</div>

<div class=""></div>

<footer>
<p>Fait pas Tchamba Borel made in COSNA</p>


</footer>
