
body{
  padding: 0px;
  margin: 0px;
}
.menu1{
   height: 50px;
   background-color: rgb(31, 28, 28);
   color: white;



}
.menu2{
    background-color: red;
    color: white;
    height: 100px;

}
.menu2 li{
  display: inline-block;
  padding-top: 10px;
  padding-left: 20px;





}
footer{
  border: 1px solid yellow;
}
